* {
    font-family: Arial, serif;
}

.filterSelect {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: flex-start;

    background-color: lightblue;
    border-radius: 15px;
    border: 3px darkgray solid;
    text-align: left;

    margin: 15px 15px 15px 33%;
    width: 33%;
    position: relative;
}

.filterSelect * {
    padding: 2px;
}

.filterSelect .title {
    font-weight: bold;
    font-size: x-large;

    position: absolute;
    left: 10px;
    margin: 0;
}
.filterSelect .optionTitle {
    font-weight: bold;
    text-align: center;
}

.priceRange .priceInput {
    border: 2px teal solid;
    border-radius: 5px;
}

.sortSelect .dropdown-toggle {
    width: 200px;
    background-color: white;
    color: black;
    border: 2px teal solid;
}