.productView #imgCarousel {
    margin-left: 33%;
    width: 33%;
}

.productView .productDetails {
    margin-left: 33%;
}
.productView .productDetails .productName {
    font-weight: bold;
    font-size: xx-large;
    margin: 0;
}
.productView .productDetails .productPrice {
    font-size: x-large;
}

.productView .productDetails .productDesc {
    white-space: pre-wrap;
}